{% extends 'base.html' %}

{% load static %}

{% block titre_page %} Page de contact {% endblock %}

{% block content1 %}

{% if thanks %}

<div class="card">
  <div class="card-body">
    <p> Votre message a bien été envoyé. </p>
  </div>
</div>

<br>

    <a href="/" ><button type="button" class="btn btn-primary"><i class="fas fa-angle-left"></i> Retour </button></a>
{% else %}

<div class="card">
  <div class="card-body">
    <p> N'hésitez pas à envoyer un message si vous avez la moindre question sur une ressource, un exercice ou sur le fonctionnement du site. </p>
  </div>
</div>

<br>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
      <table>
      {{ form.as_p }}
      </table>
      <div class="form-actions">
        <input type="submit" value="Envoyer">
      </div>
    </div>
</form>

{% endif %}


{% endblock %}
