<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PTSI/PT Dorian {% block title %}Bienvenue{% endblock %}</title>

    <!-- My login CSS -->
    <link href="{% static 'css/mylogin.css' %}" rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

      <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
      <!--<link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css"> -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="/highcharts.js" type="text/javascript"></script>
    <script src="{% static 'js/excanvas.js' %}"></script>



    <!-- Custom styles for this template -->
    <link href="{% static "css/modern-business.css" %}" rel="stylesheet">
    <link href="{% static "css/costadoat_education.css" %}" rel="stylesheet">

</head>

<body id="{%block bodyId %}genericPage{% endblock %}">


 <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'img/LogoRenb.svg' %}" alt="" height="42" width="42"></a>
      <a class="navbar-brand" href="/">PTSI-PT Lycée Dorian</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ressources">Ressources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/competences">Compétences</a>
          </li>
          {% if user.is_student %}
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.last_name }} {{ user.first_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                  <a class="dropdown-item" href="/password-change/">Mot de passe</a>
                  <a class="dropdown-item" href="/q">Mes quizzes</a>
                  <a class="dropdown-item" href="/resultats/{{user.id}}/">Résultats des DS</a>
                  <a class="dropdown-item" href="/accounts/logout">Déconnection</a>
                </div>
              </li>
                  {% elif user.is_teacher %}
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.last_name }} {{ user.first_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                  <a class="dropdown-item" href="/password-change/">Mot de passe</a>
                  <a class="dropdown-item" href="/resultats_quizz">Statistiques</a>
                  <a class="dropdown-item" href="/resultats/">Résultats</a>
                  <a class="dropdown-item" href="/upload_eleves/">Upload élèves</a>
                  <a class="dropdown-item" href="/accounts/logout">Déconnection</a>
                </div>
              </li>

                  {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="/accounts/login"> <i class="fas fa-user"></i> Login</a>
              </li>
                {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

            {% block carousel %}{% endblock %}

      <div class="container">

    <h1 class="my-4">{% block titre_page %}Quizz{% endblock %}</h1>
            {% block content1 %}{% endblock %}

       </div>


 <!-- Footer -->
   <footer class="py-5 bg-light">
    <div class="container">
      <p class="m-0 text-center text-black">Copyright &copy; Renaud Costadoat 2019</p>
    </div>
    <!-- /.container -->
  </footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<script src="{% static "js/django_education.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</body>

</html>
