{% extends "base1.html" %}

{% block title %}Compétence {% endblock %}
{% block bodyId %}sequencePage{% endblock %}

{% block titre_page %} {{famille.nom}} {% endblock %}

{%block content1 %}

      <div align="right">
        <a href="/competence/{{famille.id}}/" ><button type="button" class="btn btn-primary"><i class="fas fa-angle-left"></i> Retour</button></a>
    </div>
    <!-- Marketing Icons Section -->
      <div class="row">

             <h2 class="my-4"> {{competence.reference}} - {{competence.nom}} </h2>

        {{competence.description}}

             <h3 class="my-4"> Ressources </h3> <br />

            {% if courss %}
            <h4 class="my-4"> Cours </h4>
            {% endif %}
          <table id="cours" class="table">

               {% for cours in courss %}
                  <tr>
                    <td>{{cours.str_numero}}</td>
                      <td> {{cours.nom}}</td>
                        <td> <a href="{{cours.url_pdf}}"><i class='fas far fa-file-pdf'></i></a></td>
                          <td> <a href="{{cours.url_prive}}"><i class='fas far fa-file-archive'></i></a></td>
                            <td> <a href="{{cours.url_git}}"><i class='fab fa-github'></i></a></td>
                </tr>
                {% endfor %}
           </table>
          {% if tds %}
          <h2 class="my-4"> Travaux Dirigés </h2>
           {% endif %}
          <table id="td" class="table">
               {% for td in tds %}
                  <tr>
                    <td>{{td.str_numero}}</td>
                      <td> {{td.nom}}</td>
                        <td> <a href="{{td.url_pdf}}"><i class='fas far fa-file-pdf'></i></a></td>
                          <td> <a href="{{td.url_prive}}"><i class='fas far fa-file-archive'></i></a></td>
                            <td> <a href="{{td.url_git}}"><i class='fab fa-github'></i></a></td>
                </tr>
                {% endfor %}
           </table>
                {% if tps %}
                    <h2 class="my-4"> Travaux Pratiques </h2>

          <table id="tp" class="table">
               {% for tp in tps %}
                  <tr>
                    <td>{{tp.str_numero}} - {{tp.str_numero_ilot}}</td>
                      <td> {{tp.nom}} ({{tp.nom_ilot}})</td>
                        <td> <a href="{{tp.url_pdf}}"><i class='fas far fa-file-pdf'></i></a></td>
                          <td> <a href="{{tp.url_prive}}"><i class='fas far fa-file-archive'></i></a></td>
                            <td> <a href="{{tp.url_git}}"><i class='fab fa-github'></i></a></td>
                </tr>
                {% endfor %}
                {% endif %}

           </table>

                    <h2 class="my-4"> Kholes </h2>

          <table id="khole" class="table">
               {% for khole in kholes %}
                  <tr>
                    <td>{{khole.str_numero}}</td>
                      <td> {{khole.nom}}</td>
                        <td> <a href="{{khole.url_pdf}}"><i class='fas far fa-file-pdf'></i></a></td>
                          <td> <a href="{{khole.url_prive}}"><i class='fas far fa-file-archive'></i></a></td>
                            <td> <a href="{{khole.url_git}}"><i class='fab fa-github'></i></a></td>
                </tr>
                {% endfor %}

           </table>


      </div>
    <!-- /.row -->

{% endblock %}
