{% extends "base1.html" %}

{% load static %}


{% block title %}Liste des séquences{% endblock %}
{% block bodyId %}sequencePage{% endblock %}

{% block titre_page %}Résultats {% if user.is_teacher %} de {% for etudiant_selected in chart.get_etudiant_note %} {{etudiant_selected.user__last_name}} {{etudiant_selected.user__first_name}} {% endfor %}{% endif %}{% endblock %}

{% block content1 %}

{% if user.is_teacher %}

<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" id = "etudiant" onchange="location = this.value;">
    {% for etudiant_selected in chart.get_etudiant_note %}
        {% for etudiant in chart.get_etudiants %}
            <option {%if etudiant.user == etudiant_selected.user %} selected {% endif %} value="/resultats/{{etudiant.user}}/">
                {{ etudiant.user__last_name }} {{ etudiant.user__first_name}}
            </option>
        {% endfor %}
</select>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link  {% if general %}active{% endif %} " href="/resultats/{{etudiant_selected.user}}/">Général</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  {% if details %}active{% endif %} " href="/resultats/{{etudiant_selected.user}}/details/">Détails</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  {% if ds %}active{% endif %} " href="/resultats/{{etudiant_selected.user}}/ds/">DS</a>
  </li>
</ul>
    {% endfor %}

{% elif user.is_student %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link  {% if general %}active{% endif %} " href="/resultats/{{user.id}}/">Général</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  {% if details %}active{% endif %} " href="/resultats/{{user.id}}/details/">Détails</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  {% if ds %}active{% endif %} " href="/resultats/{{user.id}}/ds/">DS</a>
  </li>
</ul>

    {% endif %}

      {% if details %}
    <p> Résultats pour chaque compétences </p>

                  {{ chart.as_html }}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Référence</th>
      <th scope="col">Nom</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
      {% for comp in chart.get_liste_comp %}
      <tr onclick="window.location='/competence/{{comp.1}}/{{comp.0}}'" class="table-{{comp.5}}">
      <th scope="row">{{comp.1}}-{{comp.0}}</th>
      <td>{{comp.2}}</td>
      <td>{{comp.3}}</td>
      <td>{{comp.4}}</td>
    </tr>



        {% endfor %}
  </tbody>
</table>


      {% elif general %}
<p> Résultats classés par familles de compétences </p>

  <div class="row">
    <div class="col">
       <table class="table">
                 <thead>
                <tr>
                  <th scope="col">Famille</th>
                  <th scope="col">Moyenne</th>
                  <th scope="col">Classe</th>
                </tr>
              </thead>
                 <tbody>
                 {% for label, eleve, classe in chart.get_notes_glob %}
                <tr>
                    <td>{{label}}</td>
                    <td>{{eleve}}</td>
                    <td>{{classe}}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="col">
      {{ chart.as_html }}
    </div>
  </div>
        {% elif ds %}

    <p> Résultats pour chaque DS </p>

{% for ds in liste_ds %}
<div class="card">
     <div class="card-body">
            <div class="container">
                <div class="row">
                        <div class="col-9">
                            <h5 class="card-title">DS du {{ds.0.date|date:"d/m/y"|lower}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Moyenne: {{ds.0.moyenne|floatformat}}, Ecart-type: {{ds.0.ecart_type|floatformat}}, Ajustement:  {{ds.0.ajustement|floatformat}}</h6>
                        </div>
                        <div class="col">
                             <h1>Note: {{ds.5}}</h1>
                        </div>
                </div>
            </div>
                <div class="table-responsive">
                             <table class="table table-bordered">
                                   <tbody>
                                        <tr>
                                            <td></td>
                                            {% for i in ds.4 %}
                                                <td colspan={{i.1}}, style="text-align:center">P{{i.0}} ({{i.2}}pts)</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td style="text-align:center">#</td>
                                            {% for id in ds.2 %}
                                                <td style="text-align:center">{{id}}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td style="text-align:center">Coeff</td>
                                            {% for coef in ds.3 %}
                                                <td style="text-align:center">{{coef}}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td style="text-align:center">Note</td>
                                            {% for note in ds.1 %}
                                                <td style="text-align:center">{{note}}</td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                            </table>

                    </div>

      </div>
</div>


{% endfor %}
</div>
        {% endif %}

{% endblock %}
