{% extends "base1.html" %}
{% block title %}Liste des séquences{% endblock %}
{% block bodyId %}sequencePage{% endblock %}

{% block titre_page %}Ressources{% endblock %}

{%block content1%}

 <!-- Marketing Icons Section -->
    <h2 class="my-4"> Sciences de l'Ingénieur </h2>
    <div class="row">

        <table id="sequences" class="table table-striped">
            {% for sequence in sequences %}
                <tr>
                    <td>{{sequence.str_numero}}</td><td> <a href="sequence/{{sequence.id}}/" %}">{{sequence.nom}}</a></td>
                    <td> <a href="sequence/{{sequence.id}}/" %}"><i class='fas fa-angle-right'></i></a></td>
                </tr>
            {% endfor %}
            </table>
    </div>
    <!-- /.row -->

{% endblock %}
