<!DOCTYPE html>

{% load static %}

<html>
<head>
    <LINK REL="SHORTCUT ICON" HREF="favicon.ico">
    <meta http-equiv="Content-Type" content="application/javascript;charset=utf-8;" />
    <title>SysML Web Report</title>
    <link   rel="stylesheet"       href="{% static 'sysml_player/resources/ext-4.2.1/ext-theme-neptune/ext-theme-neptune-all-debug.css'%}">
    <link   rel="stylesheet"       href="{% static 'sysml_player/css/style.css'%}" id="style">
    <link   rel="stylesheet"       href="{% static 'sysml_player/css/treePanels.css'%}" id="tree_style">
    <script type="text/javascript" src="{% static 'sysml_player/resources/jquery-2.1.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'sysml_player/resources/ext-4.2.1/ext-all-debug.js'%}"></script>
    <script type="text/javascript" src="{% static 'sysml_player/resources/ext-4.2.1/ext-theme-neptune.js'%}"></script>
    <script type="text/javascript" src="{% static 'sysml_player/resource.js'%}"></script>
    <script type="text/javascript" src="{% static 'sysml_player/help_data.js'%}"></script>
    <script type="application/javascript" src="{{url_data_js}}"></script>
    <script type="text/javascript" src="{% static 'sysml_player/app/view/MyViewport.js'%}"></script>
    <script type="text/javascript" src="{% static 'sysml_player/app/view/Viewport.js'%}"></script>
    <script type="text/javascript" src="{% static 'sysml_player/app.js'%}"></script>


</head>
<body></body>
</html>
